.jmbtrn-sldr {

	background-color: #6551fd;
    padding: 20px 0;
    margin-bottom: 30px;
}

.accss-drcts {

	padding:  60px 0 20px 0;
	box-sizing: border-box;


	img {

		width: 100%;
	}

	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	h3 {
		font-size: 1.2rem;
	}
	h4 {
		font-size: 1.1rem;
	}

	h5 {
		font-size: 1rem;
	}

	p{
		font-size: 0.9rem;
	}

}


.ntcs-hm {

	margin: 40px 0;
    background: #6658f9;
    color: white;
    padding: 20px;

    h1 {
    	color: white;
    	letter-spacing: 15px;
    }

}


.trjts {

	
}