footer {
	background-color:#f7f7f7;
	padding:20px;
	iframe {
		width: 90%;
	}
	.scnd-ftr {
		background-color:#000;
		padding:10px;
		color: white;
		font-size: 0.6rem;
		margin-top: 10px;
	}
	.scnd-ftr h4 {
		font-size: 0.7rem;
	}
}


.icn-scl  {
	
	ul li {
		display: inline-block;
		margin-right: 10px;
	}

	ul {
	
		padding-left:0;
	}

	ul li i {
		font-size: 1.3rem;
	}
}


.nstrs-dts {

	ul {
		padding:0;
		font-size: 0.8rem;
	}
}