
.nvbr-logo {

	background: url(../img/logo_apaisado.jpg) center no-repeat / auto 100% transparent;
	text-indent: -10000px;
	display: block;
	width: 100px;
}
.navbar-light .navbar-nav .active > .btn-ctv {


	color: #503fce;
}


.cpt-md {

	position:absolute;
	top:25%;

	h2, p {

		text-shadow: 2px 4px rgba(0,0,0,0.51);
		 
	}

}